[submodule "Brio"]
	path = Brio
	url = https://github.com/Etheirys/Brio.git
[submodule "CustomizePlus"]
	path = CustomizePlus
	url = https://github.com/Aether-Tools/CustomizePlus.git
[submodule "Dalamud"]
	path = Dalamud
	url = https://github.com/goatcorp/Dalamud.git
[submodule "DalamudDocs"]
	path = DalamudDocs
	url = https://github.com/goatcorp/dalamud-docs.git
[submodule "Glamourer"]
	path = Glamourer
	url = https://github.com/Ottermandias/Glamourer.git
[submodule "Honorific"]
	path = Honorific
	url = https://github.com/Caraxi/Honorific.git
[submodule "LightlessClient"]
	path = LightlessClient
	url = https://git.lightless-sync.org/Lightless-Sync/LightlessClient.git
[submodule "LightlessServer"]
	path = LightlessServer
	url = https://git.lightless-sync.org/Lightless-Sync/LightlessServer.git
[submodule "LightlessAPI"]
	path = LightlessAPI
	url = https://git.lightless-sync.org/Lightless-Sync/LightlessAPI.git
[submodule "MareSynchronosClient"]
	path = MareSynchronosClient
	url = https://github.com/MareSynchronos/client.git
[submodule "MareSynchronosServer"]
	path = MareSynchronosServer
	url = https://github.com/MareSynchronos/server.git
[submodule "MareSynchronosAPI"]
	path = MareSynchronosAPI
	url = https://github.com/MareSynchronos/api.git
[submodule "Moodles"]
	path = Moodles
	url = https://github.com/kawaii/Moodles.git
[submodule "Penumbra"]
	path = Penumbra
	url = https://github.com/xivdev/Penumbra.git
[submodule "PetNicknames"]
	path = PetNicknames
	url = https://github.com/Glyceri/FFXIVPetRenamer.git
[submodule "PlayerSync"]
	path = PlayerSync
	url = https://github.com/universalconquistador/MareSynchronosClient.git
[submodule "PlayerSyncApi"]
	path = PlayerSyncApi
	url = https://github.com/universalconquistador/MareSynchronosAPI.git
[submodule "SimpleHeels"]
	path = SimpleHeels
	url = https://github.com/Caraxi/SimpleHeels.git
[submodule "SnowcloakClient"]
	path = SnowcloakClient
	url = https://github.com/Eauldane/SnowcloakClient.git
[submodule "SnowcloakServer"]
	path = SnowcloakServer
	url = https://github.com/Eauldane/SnowcloakServer.git
[submodule "SnowcloakAPI"]
	path = SnowcloakAPI
	url = https://github.com/Eauldane/SnowcloakAPI.git
[submodule "VFXEditor"]
	path = VFXEditor
	url = https://github.com/0ceal0t/Dalamud-VFXEditor.git
